.button1 {
    font-size: 30px;
    border: 4;
    border-top: border secondary;
    width: "30px";
    border: #0000;
}

/* 1*/
.button2 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* 2*/
.button3 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/*3 */
.button4 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/*+ */

.button5 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/*4 */
.button6 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* 5*/
.button7 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/*6*/
.button8 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/*-*/

.button9 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/*7 */
.button10 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* 8*/
.button11 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/*9 */
.button12 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* * */

.button13 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* c */
.button14 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* 0 */
.button16 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* / */
.button17 {
    border: 2;
    border-top: border secondary;
    border: #0000;
}

/* = */